*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --primary:#4a9098;
    --secondary:#fff;
    --bg:#444;
    --accent:#6666;
    --font:#ccc;
    --font-dark:#aaa;
    --glass:rgba(255,255,255,.2);
    --padding-sec:2rem 3rem;

}

body{
    background: var(--bg);
    color: var(--font);
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    background: var(--primary);
}

.hero{
    margin: 5rem auto ;
    padding: var(--padding-sec);
    width: 100%;
    /* max-width: 1400px; */
    background: #000;
    height: 80vh;
    position: relative;

    
}
.hero-content{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-between;
    /* background: gainsboro; */
}

.hero-left{
    max-width: 45%;
    /* background: yellow; */
    
    
}

.hero-para{
    font-size: 1.5rem;
    font-weight: bold;
}
.hero-desc{
    font-size: 1.2rem;
    font-weight: normal;
}

.hero-title{
    font-size: 5rem;
    font-weight: bolder;
}
.right{
    width: 40%;
    /* background: darkblue; */

}
.right-container{
    width: 100%;
    /* background: green; */
    height: 100%;
    display: flex;
    justify-content: end;
}

.img-box{
    width: 100%;
    /* height: 00px; */
    display: flex;
    /* background: red; */
    overflow: auto;
    clip-path: polygon(14% 0, 100% 0%, 75% 100%, 0% 100%);
    background-size: cover  ;
}

.img-box img{
    background-size: cover;
    width: 100%;
}


